/.docker/tmp
docker-compose.yml
/.docker/app/Dockerfile
/.docker/frontend/Dockerfile
/.docker/mailpit/Dockerfile
/.docker/nginx/Dockerfile
/.docker/postgres/Dockerfile
/.docker/redis/Dockerfile

.phpunit.cache
.phpunit.result.cache

vendor/
bootstrap/cache
!bootstrap/cache/.gitignore
.phpstorm.meta.php
_ide_helper.php

/.git*
/.idea/workspace.xml
.dockerignore